<h1>Frequently Asked Questions</h1>

<div class="box">
  <div class="accordion" id="accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse01">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit?
        </a>
      </div>
      <div id="collapse01" class="accordion-body collapse in">
        <div class="accordion-inner">
           Fusce ligula sapien, porta eget tempor sed, consectetur nec turpis. Nunc sit amet neque eros, eget facilisis dolor.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse02">
          Mauris sit amet erat ipsum?
        </a>
      </div>
      <div id="collapse02" class="accordion-body collapse">
        <div class="accordion-inner">
          Duis vitae leo at ligula accumsan rhoncus ac ac nunc. Mauris eget nunc quis sapien aliquam volutpat.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse03">
          Donec eget eros at lectus mollis aliquet. Aliquam at rhoncus magna?
        </a>
      </div>
      <div id="collapse03" class="accordion-body collapse">
        <div class="accordion-inner">
          Nam euismod euismod ligula vel cursus. Vestibulum quis dictum ligula. Mauris ut odio mauris, at sodales sem.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse04">
          Aenean pulvinar lobortis augue in laoreet?
        </a>
      </div>
      <div id="collapse04" class="accordion-body collapse">
        <div class="accordion-inner">
          Aliquam in sem vel arcu venenatis volutpat vel in turpis. Quisque enim augue, scelerisque sed eleifend ut, adipiscing vitae nisi.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse05">
          Vivamus porttitor leo et felis aliquam porta. Etiam sed hendrerit nunc?
        </a>
      </div>
      <div id="collapse05" class="accordion-body collapse">
        <div class="accordion-inner">
          Nulla faucibus dolor sit amet felis mattis facilisis. Cras varius placerat quam a semper. Maecenas sollicitudin enim eget neque cursus adipiscing.
        </div>
      </div>
    </div>
  </div>
</div>