<div class="hero-unit">
    <img class="hidden-phone" src="/assets/bg-hero.jpg" alt="Launch Your Career Now" />
    <h1>Step 1: Account Details</h1>
    <p>Name<br/>Email<br/>Password<br/>Username</p>
    <p><a class="btn btn-info btn-large">Step 2</a></p>
</div><!--hero-unit-->
