<div class="hero-unit">
    <img class="hidden-phone" src="/assets/bg-hero.jpg" alt="Launch Your Career Now" />
    <p>
    <h1>Your Portfolio is Ready!</h1>
    <p>That was easy ... start sharing your portfolio now:<br/>- Share via URL<br/>- Share Via Facebook / Twitter<br/>- Share Via PDF</p>
    <p>
      <a class="btn btn-large" href="/profile_1">Step 1 &raquo;</a>
      <a class="btn btn-large" href="/profile_2">Step 2 &raquo;</a>
      <a class="btn btn-large" href="/profile_3">Step 3 &raquo;</a>
      <a class="btn btn-large" href="/profile_4">Step 4 &raquo;</a>
      <a class="btn btn-info btn-large" href="/profile_5">Done!</a>
    </p>
</div><!--hero-unit-->

<div id="pitch-boxes" class="row">
    <div class="span6">
      <h2>Additional Instructions</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="span6">
      <h2>Marketing Pitch</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
   </div>
</div><!--row-->
